@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://raw.githubusercontent.com/Jacob87/raty-fa/master/spec/lib/jasmine.css);

h1 {
	font-size: 3em;
}

ol {
	list-style: none;
}

p {
	padding-top: 1em;
}

img {
	border-style: solid;
	border-color: lightgray;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 2em;		
	}
}